<app-admin-nav></app-admin-nav>
<mat-card>
<h2>shop details</h2>
<app-shop [shop]="theshop"></app-shop>
<mat-list>
  <mat-list-item>total wash amount: {{totalWashAmount | currency: "NGN":"symbol-narrow"}}</mat-list-item>
  <mat-list-item>total washes: {{totalWash}}</mat-list-item>
</mat-list>

<button mat-raised-button color="basic" (click)="back()">&#8592; Back</button>
<button (click)="delete()" mat-raised-button color="warn">Delete</button>
<button (click)="editShop()" mat-raised-button color="accent">Edit Shop</button>
</mat-card>
