
<mat-card>
  <img mat-card-image [src]="imageurl">
<h2>edit shop profile</h2>
<form #p="ngForm" (ngSubmit)="changePassword(p.value)">
  <mat-form-field appearance="outline">
  <mat-label for="phone">Phone number</mat-label>
  <input matInput type="text" id="phone" name="phonenumber" placeholder="Phone number" ngModel >
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="newpassword">New Password</mat-label>
  <input matInput  type="password" id="newpassword" name="newpassword" placeholder="Change password" ngModel>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="confirmpassword">Confirm new Password</mat-label>
  <input matInput  type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm new password" ngModel>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="roles">roles</mat-label>
  <select id="roles" name="roles" ngModel matNativeControl required>
    <option value="Supervisor">  Supervisor</option>
    <option value="Administrator">  Administrator</option>
  </select>
</mat-form-field><br>
  <button type="submit" mat-raised-button color="primary">save</button>
</form>
</mat-card>
