
<img mat-card-image [src]="imageurl" alt="Perfect Wash App">
<mat-nav-list class="nav">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" mat-button color="primary">🏚 Home</a>
  <a [routerLink]="['/contact']" routerLinkActive="router-link-active" mat-button color="primary">&#9742; Contact</a>
</mat-nav-list>


<mat-card>
  <h2>sign in your credentials</h2>
  <mat-error><small>{{error}}</small></mat-error>
<form #f="ngForm" (ngSubmit)="getAdmin(f.value)">
  <mat-form-field appearance="outline">
  <mat-label for="phoneNumber">Phone number</mat-label>
  <input matInput required type="text" name="phoneNumber" placeholder="Shop number" autocomplete="tel-local" id="phonenumber" ngModel/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
  <mat-label for="password">Password</mat-label>
  <input matInput required type="password" name="password" placeholder="Password" id="password"  autocomplete="current-password" ngModel/>
  </mat-form-field>
  <br>
  <button type="submit" color="primary" mat-raised-button><mat-spinner *ngIf="show" [strokeWidth]="2" [diameter]="20"></mat-spinner>Sign in</button>
</form>
</mat-card>

