
<mat-nav-list class="nav">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" mat-button >Home</a>
  <a [routerLink]="['/contact']" routerLinkActive="router-link-active" mat-button >Contact</a>
</mat-nav-list>

<hr/>


<mat-card>


<form #f="ngForm" (ngSubmit)="getAdmin(f.value)">
  <h2>Perfect Wash</h2>
   <h6>sign in</h6>
  <br>
  <mat-error>{{error}}</mat-error>

  <br>
  <mat-form-field appearance="outline">
  <mat-label for="phoneNumber">Phone number</mat-label>
  <input matInput required type="text" name="phoneNumber" placeholder="Shop number" autocomplete="tel-local" id="phonenumber" ngModel/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
  <mat-label for="password">Password</mat-label>
  <input matInput required type="password" name="password" placeholder="Password" id="password"  autocomplete="current-password" ngModel/>
  </mat-form-field>
  <br>
  <button type="submit" color="primary" mat-raised-button>
    <mat-progress-spinner
    *ngIf="loading"
    color="warn"
    mode="indeterminate"
    diameter="20"
    strokeWidth = "1">
    </mat-progress-spinner>Sign in</button>
</form>
</mat-card>

