<app-admin-nav></app-admin-nav>
<mat-card>

<h2>edit shop profile</h2>
<mat-error>{{ error }}</mat-error>
<form #shop="ngForm" (ngSubmit)="changePassword(shop.value)">
  <mat-form-field appearance="outline">
  <mat-label for="phoneNumber">Phone number</mat-label>
  <input matInput type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" [(ngModel)]="editshop.phoneNumber" disabled>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="password">New Password</mat-label>
  <input matInput  type="password" id="password" name="password" placeholder="Change password"  autocomplete="new-password" ngModel>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="confirmpassword">Confirm new Password</mat-label>
  <input matInput  type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm new password" ngModel autocomplete="new-password" ngModel>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
  <mat-label for="roles">roles</mat-label>
  <select id="roles" name="roles"  [(ngModel)]="editshop.role" matNativeControl required>
    <option value="Supervisor">  Supervisor</option>
    <option value="Administrator">  Administrator</option>
  </select>
</mat-form-field><br>
  <button type="submit" mat-raised-button color="primary">save</button>
</form>
</mat-card>
