
<mat-card>
  <mat-list>
  <mat-list-item><span class="labels"><strong>name</strong></span><span class="right">{{shop.shopName}}</span></mat-list-item>
  <mat-divider [inset]="true"></mat-divider>
  <mat-list-item><span class="labels"><strong>phonenumber</strong></span><span>{{shop.phoneNumber}}</span></mat-list-item>
  <mat-divider [inset]="true"></mat-divider>
  <mat-list-item><span class="labels"><strong>role</strong></span><span>{{shop.role}}</span></mat-list-item>
  </mat-list>
</mat-card>

