body,
app-root {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;



}



body.mat-typography {
  margin: 0 auto !important;
  padding: 0;
}

app-root {
  margin: 0 auto;
  padding: 0;
}

mat-progress-spinner {
  display: block;
  text-align: center;
  margin: 0 auto;
}

app-nav,
app-admin-nav {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 50px;
  max-width: 100%;



}


mat-card {
  margin: 10px 20px;
}

img.mat-card-image {
  display: block;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}




mat-nav-list {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

a {
  font-weight: 500;
  padding: 5px;
  margin: 0 auto;
}

a:hover {
  background-color: rgb(15, 130, 175);
  color: white;
}

a:active {
  background-color: rgb(15, 130, 175);
  color: #ffd740;
}

h2 {
  text-align: center;
  padding: 1px;
  margin: 1px;
}



h3 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;

}


h6 {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}


span {
  font-size: 0.8rem;
}

span.status {

  background-color: #ffd740;
  color: #673ab7;
  font-weight: 700;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 1px;
}

span.labels {
  display: inline-block;
  margin: 2px 2px;
  min-width: 30%;
  color: #673ab7;
  font-weight: 500;
}


form {
  text-align: center;
  padding: 5px;
}

.right {
  text-align: right;

}

.left {
  text-align: left;
}

.center {
  text-align: center;
}









.primary {
  background-color: #673ab7;
  color: white;
}

.accent {
  background-color: #ffd740;
  color: black;

}


.white {
  color: white;
}

app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;


}

mat-error {
  text-align: center;
}

footer {
  display: block;
}
